.header-banner {
  background: linear-gradient(45deg, #e67e22 0%, #d35400 100%) repeat scroll 0 0 transparent;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
  padding: 40px 0px;
  position: relative;
  color: #FFFFFF;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.header-banner .container {
  margin-top: 40px;
}
.header-banner p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}
.header-banner a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out 0s;
}
.header-banner:after {
  background: url("../img/") repeat scroll center center transparent;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
}
